@charset "UTF-8";

/* ----------------------------
  全体共通
---------------------------- */
html {
}
img {
  max-width: 100%;
  height: auto;
}
body {
  color: #333;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
  background: none;
}
a:hover {
  opacity: 0.6;
}
* {
  box-sizing:border-box;
}

/* ----------------------------
  共通オブジェクト
---------------------------- */
.p-link__block {
  width: 100%;
  height: 10.1875rem;
  padding: 0.8812rem 1.25rem 1.875rem 1.25rem;
}
.p-link__inner {
  width: 100%;
  height: 100%;
}
.p-link__top {
  width: 100%;
  height: 2.4312rem;
  text-align: center;
  padding-left: 0.875rem;
}
.p-link__top h4 {
  font-family: "Noto Sans JP", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3125rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  color: #fa7da3;
}
.p-link__bottom {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
}
.p-link__bottom a {
  width: 21.875rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-color: #49c43d;
  display: flex;
  align-items: center;
  justify-content: right;
  font-family: "Noto Sans JP", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3125rem;
  letter-spacing: 0.1em;
  line-height: 1.33;
  color: #fff;
}
.c-btn__reservation::after {
  font-family: FontAwesome;
  content: "\f105";
  color: #fff;
  font-size: 1.5625rem;
  margin: 0 2.1875rem 0 1.25rem;
}

@media screen and (min-width:768px) {
  .p-link {
    width: 35.625rem;
    margin: 0 auto;
  }
  .p-link__block {
    height: 18.125rem;
    padding: 2.75rem 0 0 0;
  }
  .p-link__top {
    height: 4.0125rem;
  }
  .p-link__top h4{
    font-size: 2.125rem;
  }
  .p-link__bottom a {
    width: 35.625rem !important;
    height: 8.125rem;
    border-radius: 4.0656rem;
    width: 21.875rem;
    font-size: 2.125rem;
    line-height: 1.32;
  }
  .c-btn__reservation::after {
    font-size: 3.125rem;
    margin: 0 2.8125rem 0 1.875rem;
  }
}

/* ----------------------------
  ヘッダー用
---------------------------- */
.l-header__inner {
  width: 100%;
  height: 3.75rem; 
  display: flex;
  justify-content: space-between;
}
.l-header__logo {
  width: 5.625rem;
  height: 100%;
  padding: 0.6813rem 0.375rem 0.6188rem 0.75rem;
}
.l-header__nav {
  width: 18.75rem;
  height: 100%;
}
.l-header__nav ul {
  height: 100%;
  padding-right: 0.575rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-btn__contact,
.c-btn__reservation__nav {
  height: 1.9375rem;
  border-radius: 0.9688rem;
  background-color: #fa7da3;
  padding-left: 0.7rem;
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-btn__contact,
.c-btn__reservation__nav {
  color: #fff;
}
.c-btn__contact::after,
.c-btn__reservation__nav::after {
  font-family: FontAwesome;
  content: "\f105";
  color: #fff;
  font-size: 0.75rem;
  margin: 0 0.5rem 0 0.3125rem;
}
.c-btn__contact {
  width: 6.6875rem;
  background-color: #fa7da3;
}
.c-btn__reservation__nav {
  width: 10.8606rem;
  background-color: #49c43d;
}
.c-btn__reservation__nav span{
  font-size: 0.625rem;
}

@media screen and (min-width:768px) {
  .l-header__block {
    padding: 0 13.0313rem 0 13.0313rem;
  }
  .l-header__inner {
    width: 64rem;
    margin: 0 auto;
    height: 5.9375rem;
  }
  .l-header__logo {
    width: 6.0038rem;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .l-header__nav {
    width: 31.6rem;
  }
  .l-header__nav ul {
    padding-right: 0;
  }
  .c-btn__contact,
  .c-btn__reservation__nav {
    height: 3.1475rem;
    border-radius: 1.5737rem;
    padding-left: 1.5rem;
    font-size: 1.3069rem;
  }
  .c-btn__contact::after,
  .c-btn__reservation__nav::after {
    font-size: 1.5625rem;
    margin: 0 0.75rem 0 0;
  }
  .c-btn__contact {
    width: 11.8187rem;
  }
  .c-btn__reservation__nav {
    width: 18.4681rem;
  }
  .c-btn__reservation__nav span{
    font-size: 1.1056rem;
  }
}

/* ----------------------------
  メイン１用
---------------------------- */
.l-main1__block {
  width: 100%;
  height: 19.625rem;
  background-color: #fa7da3;
}
.l-main1__back {
  width: 100%;
  height: 100%;
  background-image: url(../image/Clip1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
}
.l-main1__inner1 {
  width: 100%;
  height: 6.6875rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.l-main1__inner1__left {
  width: 12.625rem;
  height: 100%;
  padding: 0.8187rem 1.125rem 0 1.125rem;
}
.l-main1__inner1__left__1,
.l-main1__inner1__left__2 {
  width: 100%;
  text-align: center;
}
.l-main1__inner1__left__1 {
  height: 3.5rem;
}
.l-main1__inner1__left__1 p,
.l-main1__inner1__left__2 p {
  font-family: "Noto Sans JP", serif;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  letter-spacing: 0;
}
.l-main1__inner1__left__1 p {
  font-size: 2.5rem;
}
.l-main1__inner1__left__2 p {
  font-size: 1.1219rem;
}
.l-main1__inner1__right {
  width: 11.75rem;
  height: 100%;
  padding: 1.5625rem 1.5rem 1.0625rem 1.6875rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,255,255,0.3);
}
.l-main1__inner1__right__1 {
  width: 2.9375rem;
  height: 100%;
}
.l-main1__inner1__right__1__top {
  width: 100%;
  height: 1.4375rem;
  text-align: center;
  background-color: #fff;
}
.l-main1__inner1__right__1__top p {
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  font-style: normal;
  color: #fa7da3;
  font-size: 0.8125rem;
  letter-spacing: 0;
}
.l-main1__inner1__right__1__bottom {
  width: 100%;
  padding-top: 0.1875rem;
  text-align: center;
}
.l-main1__inner1__right__1__bottom p {
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 1.45rem;
  letter-spacing: 0;
}
.l-main1__inner1__right__2 {
  width: 5rem;
  height: 100%;
  display: flex;
  text-align: right;
}
.l-main1__inner1__right__zero {
  display: flex;
  align-items: flex-start;
  margin-top: -1.875rem;
}
.l-main1__inner1__right__yen {
  width: 45%;
  text-align: right;
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  font-style: normal;
  color: #fffd7a;
  font-size: 2.2456rem;
  letter-spacing: -0.05em;
  line-height: 2.2;
}
.l-main1__inner2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.4375rem;
  padding-right: 1.6875rem;
}
.l-main1__inner2__right {
  width: 8.3125rem;
}
.l-main1__inner2__right__1 {
  width: 100%;
  text-align: right;
  margin-bottom: 1.0625rem;
}
.l-main1__inner2__right__1 p{
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 0.8725rem;
  letter-spacing: 0;
}
.l-main1__inner2__right__1 p span {
  font-size: 0.5613rem;
}
.l-main1__inner2__right__2__block {
  border: #fff 0.0625rem solid;
  text-align: center;
  padding: 0.25rem 0;
  margin: 0.75rem 0;
}
.l-main1__inner2__right__2__block p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 1.1219rem;
  letter-spacing: 0;
}

@media screen and (min-width:768px) {
  .l-main1__block {
    height: 38.25rem;
  }
  .l-main1__back {
    background-image: url(../image/Clip2.png);
  }
  .l-main1__inner1 {
    width: 60.625rem;
    height: 13.75rem;
    margin: 0 auto;
  }
  .l-main1__inner1__left {
    width: 34.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .l-main1__inner1__left__1 {
    height: 10.625rem;
    padding: 0;
  }
  .l-main1__inner1__left__1_top {
    height: 6.25rem;
  }
  .l-main1__inner1__left__1 p {
    font-size: 7.6137rem;
  }
  .l-main1__inner1__left__2 {
    text-align: right;
  }
  .l-main1__inner1__left__2 p {
    font-size: 2.2437rem;
  }
  .l-main1__inner1__right {
    width: 26.5625rem;
    padding: 2.625rem 2.75rem 2.75rem 3.75rem;
  }
  .l-main1__inner1__right__1 {
    width: 6.75rem;
  }
  .l-main1__inner1__right__1__top {
    height: 3.1875rem;
    padding-top: 0.3125rem;
  }
  .l-main1__inner1__right__1__top p {
    font-size: 1.8281rem;
  }
  .l-main1__inner1__right__1__bottom p {
    font-size: 3rem;
  }
  .l-main1__inner1__right__2 {
    width: 14.875rem;
  }
  .l-main1__inner1__right__zero {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: -4.6875rem;
  }
  .l-main1__inner1__right__yen {
    width: 30%;
    font-size: 5.0525rem;
    letter-spacing: 0;
  }
  .l-main1__inner2 {
    width: 60.625rem;
    margin: 0 auto;
    padding-right: 0;
  }
  .l-main1__inner2__right {
    width: 26.4375rem;
  }
  .l-main1__inner2__right__1 {
    width: 100%;
    text-align: right;
    margin-bottom: 1.0625rem;
    padding-right: 3.75rem;
  }
  .l-main1__inner2__right__1 p{
    font-size: 1.6506rem;
  }
  .l-main1__inner2__right__1 p span {
    font-size: 1.0613rem;
  }
  .l-main1__inner2__right__2 {
    padding-top: 0.625rem;
  }
  .l-main1__inner2__right__2__block {
    padding: 0.6875rem 0;
    margin: 1.5625rem 0;
  }
  .l-main1__inner2__right__2__block p {
    font-size: 1.745rem;
  }
}

/* ----------------------------
  メイン２用
---------------------------- */
.l-main2__block {
  width: 100%;
  height: 11.9375rem;
  padding: 1.2563rem 1.1875rem 0.375rem 1.3125rem;
  background-color: #fffedd;
}
.l-main2__inner {
  width: 100%;
  height: 100%;
}
.l-main2__top {
  width: 100%;
  height: 2.5625rem;
  text-align: center;
}
.l-main2__top h5 {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  color: #fa7da3;
  font-size: 1.3125rem;
  letter-spacing: 0;
}
.l-main2__center {
  width: 100%;
  height: 5.8125rem;
}
.l-main2__center__block {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  border: #fa7da3 0.0625rem solid;
}
.l-main2__center__block__1 p,
.l-main2__center__block__2__span1,
.l-main2__center__block__2__span2 {
  font-family: "Noto Sans JP", serif;
  font-style: normal;
  letter-spacing: 0;
}
.l-main2__center__block__1 {
  width: 100%;
  height: 2rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  text-align: center;
  background-color: #fa7da3;
}
.l-main2__center__block__2 {
  width: 100%;
  height: 2rem;
  text-align: center;
}
.l-main2__center__block__1 p {
  font-size: 1.3125rem;
  font-weight: 400;
  color: #fff;
}
.l-main2__center__block__2__span1 {
  font-size: 2.625rem;
  font-weight: 600;
  color: #fa7da3;
}
.l-main2__center__block__2__span2 {
  font-size: 1.6875rem;
  font-weight: 400;
  color: #fa7da3;
}
.l-main2__bottom {
  width: 100%;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-main2__bottom p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  font-size: 0.625rem;
  letter-spacing: 0;
}

@media screen and (min-width:768px) {
  #main2 {
    width: 34.375rem;
    margin: 0 auto;
  }
  .l-main2__block {
    height: 19.75rem;
    padding: 2.5rem 0 1.625rem 0;
  }
  .l-main2__top {
    height: 3.0625rem;
    margin-bottom: 0.9375rem;
  }
  .l-main2__top h5 {
    font-size: 2.125rem;
  }
  .l-main2__center {
    height: 9.25rem;
  }
  .l-main2__center__block__1 {
    height: 2.9375rem;
  }
  .l-main2__center__block__2 {
    height: 6.3125rem;
  }
  .l-main2__center__block__1 p {
    font-size: 2rem;
  }
  .l-main2__center__block__2__span1 {
    font-size: 4.2456rem;
  }
  .l-main2__center__block__2__span2 {
    font-size: 2.7294rem;
  }
  .l-main2__bottom {
    height: 3.125rem;
  }
  .l-main2__bottom p {
    font-size: 0.875rem;
  }
}

/* ----------------------------
  メイン３用
---------------------------- */
.l-main3__block {
  width: 100%;
  height: 6rem;
  margin-bottom: 2.375rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l-main3__top {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  border-top: #50bfff 0.125rem solid;
  border-bottom: #50bfff 0.125rem solid;
}
.l-main3__top p {
  font-family: "Noto Sans JP", serif;
  font-weight: 600;
  font-style: normal;
  line-height: 2;
  color: #50bfff;
  font-size: 1.0625rem;
  letter-spacing: 0.1em;
}
.l-main3__bottom {
  width: 100%;
  height: 2.8125rem;
  text-align: left;
}
.l-main3__bottom p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6813rem;
  letter-spacing: 0;
}
.l-main3__bottom .l-main3__bottom--big {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8675rem;
  letter-spacing: 0;
}

@media screen and (min-width:768px) {
  #main3 {
    width: 38.125rem;
    margin: 0 auto;
  }
  .l-main3__block {
    height: 9.7937rem;
    margin-bottom: 4.5rem;
  }
  .l-main3__top {
    height: 4.0625rem;
  }
  .l-main3__top p {
    font-size: 1.75rem;
  }
  .l-main3__bottom {
    height: 5.625rem;
    padding-top: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .l-main3__bottom p {
    font-size: 1.1175rem;
  }
  .l-main3__bottom .l-main3__bottom--big {
    font-size: 1.4163rem;
  }
}

/* ----------------------------
  メイン４用
---------------------------- */
.l-main4__block {
  width: 100%;
  height: 94.3125rem;
  padding-left: 1.3125rem;
  padding-right: 1.1875rem;
  margin-bottom: 0.8125rem;
  background-color: #fdf0f5;
}
.l-main4__top {
  width: 100%;
  height: 8.475rem;
  padding: 2.075rem 1.725rem 1.4688rem 1.6875rem;
}
.l-main4__top__inner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l-main4__top__title1 {
  width: 100%;
  height: 1.625rem;
  display: flex;
  justify-content: center;
}
.l-main4__top__title1 img {
  width: 12.26rem;
  height: 0.9081rem;
  margin : auto 0.125rem auto 0;
}
.l-main4__top__title1 p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  letter-spacing: 0.04em;
  color: #4d2b1b;
}
.l-main4__top__title2 {
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
.l-main4__top__title2 h2 {
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.04em;
  color: #fa7da3;
  margin-bottom: 0;
  padding-bottom: 0;
}
.l-main4__point1,
.l-main4__point2,
.l-main4__point3 {
  width: 100%;
  border: #fa7da3 0.0625rem solid;
  border-radius: 0.625rem;
}
.l-main4__point1 {
  height: 15.1506rem;
  margin-bottom: 1.9375rem;
}
.l-main4__point2 {
  height: 57.4375rem;
  margin-bottom: 1.875rem;
}
.l-main4__point3 {
  height: 7.6306rem;
  margin-bottom: 1.875rem;
}
.l-main4__point1__block__1,
.l-main4__point2__block__1, 
.l-main4__point3__block__1 {
  width: 100%;
  height: 2.87rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  padding-top: 0.625rem;
  text-align: center;
  background-color: #fa7da3;
}
.l-main4__point1__block__1 p,
.l-main4__point2__block__1 p,
.l-main4__point3__block__1 p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  letter-spacing: 0;
  color: #fff;
}
.l-main4__point1__block__2 {
  width: 100%;
  text-align: center;
  padding: 0.9875rem 1.2312rem 0 1.1187rem;
}
.l-main4__point1__explain,
.l-main4__point2__explain,
.l-main4__point3__explain {
  width: 100%;
  text-align: left;
}
.l-main4__point1__explain p,
.l-main4__point2__explain p,
.l-main4__point3__explain p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
}
.l-main4__point1__inner {
  display: flex;
  justify-content: space-between;
}
.l-main4__point1__left,
.l-main4__point1__right {
  width: 8.9375rem;
  padding-top: 0.75rem;
}
.l-main4__point1__right__1,
.l-main4__point1__left__1 {
  width: 100%;
  height: 5.3125rem;
  padding-left: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-main4__point1__left__1 {
  border: #fa7da3 0.0625rem solid;
}
.l-main4__point1__right__1 {
  border: #666 0.0625rem solid;
  background-color: #fdf0f5;
}
.l-main4__point1__right__2,
.l-main4__point1__left__2 {
  width: 100%;
  height: 1.25rem;
  margin-top: 0.3125rem;
  text-align: center;
}
.l-main4__point1__right__2 p,
.l-main4__point1__left__2 p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8725rem;
  letter-spacing: 0.04em;
}
.l-main4__point1__right__1 p{
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1219rem;
  letter-spacing: 0.12em;
}
.l-main4__point2__block__2 {
  width: 100%;
  text-align: center;
  padding-top: 0.9875rem;
}
.l-main4__point2__explain {
  padding: 0 1.2312rem 0 1.1187rem;
}
.l-main4__point2__all {
  margin-bottom: 2.2rem;
}
.l-main4__point2__all__1 {
  width: 100%;
  text-align: center;
  margin: 1.25rem 0 0.625rem 0;
}
.l-main4__point2__all__1 h5 {
  font-family: "Noto Sans JP", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4375rem;
  color: #4d2c1c;
}
.l-main4__point2__part__1 {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5625rem;
}
.l-main4__point2__part__1 h5 {
  font-family: "Noto Sans JP", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4375rem;
  color: #4d2c1c;
}
.l-main4__point2__part__2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.l-main4__point2__part__2__top {
  margin-bottom: 0.625rem;
}
.l-main4__point3__block__2 {
  width: 100%;
  text-align: center;
  padding: 0.9875rem 1.2312rem 0 1.1187rem;
}

@media screen and (min-width:768px) {
  #main4 {
    width: 51.25rem;
    margin: 0 auto;
  }
  .l-main4__block {
    height: 123.75rem;
  }
  .l-main4__top {
    height: 11.25rem;
  }
  .l-main4__top__title1 {
    height: 1.625rem;
  }
  .l-main4__top__title1 img {
    width: 16.3188rem;
    height: 1.25rem;
    margin : auto 0.25rem auto 0;
  }
  .l-main4__top__title2 {
    height: 4.5rem;
  }
  .l-main4__top__title2 h2 {
    font-size: 2.625rem;
  }
  .l-main4__top__title2 img {
    width: 3.125rem;
    margin: 0 0.625rem;
  }
  .l-main4__point1 {
    height: 23.0625rem;
    margin-bottom: 3.125rem;
  }
  .l-main4__point2 {
    height: 69.6875rem;
    margin-bottom: 3.125rem;
  }
  .l-main4__point3 {
    height: 10.1706rem;
    margin-bottom: 3.75rem;
  }
  .l-main4__point1__block__1,
  .l-main4__point2__block__1, 
  .l-main4__point3__block__1 {
    height: 4.625rem;
    padding-top: 0.9375rem;
  }
  .l-main4__point1__block__1 p,
  .l-main4__point2__block__1 p,
  .l-main4__point3__block__1 p {
    font-size: 1.75rem;
  }
  .l-main4__point1__block__2 {
    padding: 1.4375rem 3.125rem 0 2.5rem;
  }
  .l-main4__point1__explain p,
  .l-main4__point2__explain p,
  .l-main4__point3__explain p {
    font-size: 1.3125rem;
    letter-spacing: 0;
    line-height: 1.57;
  }
  .l-main4__point1__inner {
    display: flex;
    justify-content: center;
    padding-left: 0.625rem;
  }
  .l-main4__point1__left__1 img {
    width: 7.175rem;
    height: 3.9325rem;
  }
  .l-main4__point1__left,
  .l-main4__point1__right {
    width: 14.5rem;
    padding-top: 1.5625rem;
    margin: 0 1.25rem;
  }
  .l-main4__point1__right__1,
  .l-main4__point1__left__1 {
    height: 8.5625rem;
  }
  .l-main4__point1__right__2,
  .l-main4__point1__left__2 {
    height: 1.875rem;
    margin-top: 0.625rem;
  }
  .l-main4__point1__right__2 p,
  .l-main4__point1__left__2 p {
    font-size: 1.3125rem;
    letter-spacing: 0;
  }
  .l-main4__point1__right__1 p {
    font-size: 1.8144rem;
    letter-spacing: 0;
  }
  .l-main4__point2__block__2 {
    padding: 1.4375rem 1.5625rem 0 1.375rem;
  }
  .l-main4__point2__all {
    margin-bottom: 2.2rem;
  }
  .l-main4__point2__all__1 {
    margin: 1.25rem 0 0.8rem 0;
  }
  .l-main4__point2__all__1 h5 {
    font-size: 1.5rem;
  }
  .l-main4__point2__all__2 {
    padding-left: 1.875rem;
  }
  .l-main4__point2__part {
    margin-top: 3.125rem;
  }
  .l-main4__point2__part__1 {
    margin-bottom: 1.5625rem;
  }
  .l-main4__point2__part__1 h5 {
    font-size: 1.4375rem;
    letter-spacing: 0.04em;
  }
  .l-main4__point2__part__2 {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  .l-main4__point2__part__2__top {
    margin: 0 0.75rem 0.625rem 0;
  }
  .l-main4__point3__block__2 {
    padding: 1.4375rem 1.5625rem 0 2.5rem;
  }
}

/* ----------------------------
  メイン５用
---------------------------- */
.l-main5__block {
  width: 100%;
  height: 51.75rem;
  padding-left: 1.3125rem;
  padding-right: 1.1875rem;
  margin-bottom: 0.9375rem;
}
.l-main5__top {
  width: 100%;
  height: 4.875rem;
  margin: 0.8125rem 0 1.4688rem 0;
  padding: 0rem 1.725rem 1.4688rem 1.4688rem;
}
.l-main5__top__inner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l-main5__top__title1 {
  width: 100%;
  height: 1.625rem;
  display: flex;
  justify-content: center;
}
.l-main5__top__title1 p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  letter-spacing: 0.04em;
}
.l-main5__top__title2 {
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
.l-main5__top__title2 img {
  margin: 0 0.5rem;
}
.l-main5__top__title2 h2 {
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.04em;
  color: #fa7da3;
  margin-bottom: 0;
  padding-bottom: 0;
}
.l-main5__course1,
.l-main5__course2 {
  width: 100%;
  border: #fa7da3 0.0625rem solid;
  border-radius: 0.625rem;
  padding: 0.6rem 1.25rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.l-main5__course1 {
  height: 21.3375rem;
  margin-bottom: 1.875rem;
}
.l-main5__course2 {
  height: 21.375rem;
}
.l-main5__content1 {
  width: 100%;
  height: 1.625rem;
  text-align: center;
}
.l-main5__content1 p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  color: #fa7da3;
}
.l-main5__content2 {
  width: 100%;
  height: 16.6875rem;
}
.l-main5__explain {
  margin: 0.3125rem 0 0.75rem 0;
}
.l-main5__explain p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5;
}

@media screen and (min-width:768px) {
  #main5 {
    width: 48.125rem;
    margin: 0 auto;
  }
  .l-main5__block {
    height: 35.9375rem;
  }
  .l-main5__course {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .l-main5__top {
    margin: 0;
  }
  .l-main5__top__title1 {
    height: 2.1875rem;
  }
  .l-main5__top__title1 p {
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  .l-main5__top__title2 {
    height: 4.375rem;
  }
  .l-main5__top__title2 img {
    width: 3.125rem;
    margin: 0 0.9375rem;
  }
  .l-main5__top__title2 h2 {
    font-size: 2.6094rem;
    letter-spacing: 0;
  }
  .l-main5__course1,
  .l-main5__course2 {
    width: 21.875rem;
    margin-top: 4.0625rem;
  }
  .l-main5__course1 {
    height: 22.775rem;
    margin-bottom: 1.875rem;
  }
  .l-main5__course2 {
    height: 22.775rem;
  }
  .l-main5__content1 {
    height: 2.5rem;
  }
  .l-main5__content1 p {
    font-size: 1.75rem;
  }
  .l-main5__content2 {
    height: 17.25rem;
  }
  .l-main5__explain {
    margin: 0.3125rem 0 0.75rem 0;
  }
  .l-main5__explain p {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

/* ----------------------------
  メイン６用
---------------------------- */
.l-main6__block {
  width: 100%;
  height: auto;
  margin-bottom: 1.125rem;
}
.l-main6__top {
  width: 100%;
  height: 4.875rem;
  padding-top: 1.125rem;
  margin: 0.8125rem 0 0.375rem 0;
}
.l-main6__top__title {
  width: 100%;
  height: 2.875rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
.l-main6__top__title img {
  margin: 0 0.8125rem;
}
.l-main6__top__title h2 {
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.04em;
  color: #fa7da3;
}
.l-main6__slick {
  width: 100%;
  height: 14.375rem;
}
.l-main6__slick__items {
  display: flex;
  justify-content: space-between;
}
.l-main6__slick__items--a,
.l-main6__slick__items--b,
.l-main6__slick__items--c {
  width: 100%;
  height: 12.0625rem;
  border: #fa7da3 0.0625rem solid;
  border-radius: 0.625rem;
}
.l-main6__slick__items__block {
  margin: 0 0.625rem;
}
.l-main6__slick__block__1 {
  width: 100%;
  height: 2.87rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  padding-top: 0.625rem;
  text-align: center;
  background-color: #fa7da3;
}
.l-main6__slick__block__1 p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  letter-spacing: 0;
  color: #fff;
}
.l-main6__slick__block__2 {
  display: flex;
  justify-content: flex-start;
  padding: 0.9812rem 0.9812rem 0.875rem 1.125rem;
}
.l-main6__slick__left {
  width: 5rem;
  text-align: center;
}
.l-main6__slick__right {
  width: 11.875rem;
  text-align: left;
  padding-left: 0.9375rem;
}
.l-main6__slick__right__voice {
  text-align: left;
  margin: 0.3125rem 0 0 0;
  padding: 0;
}
.l-main6__slick__right h5 {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9969rem;
  color: #fa7da3;
}
.l-main6__slick__right p {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5;
}
.slick-dots li {
  bottom: -0.4375rem;
  left: 0;
}
.slick-dots li a:before {
  color: #ffd2d2;
  font-size: 0.9375rem;
}
.slick-dots li.slick-active a:before{
  color: #fa7da3;
  font-size: 0.9375rem;
}

@media screen and (min-width:768px) {
  #main6 {
    width: 67.5rem;
    margin: 0 auto;
  }
  .l-main6__block {
    margin-bottom: 2.8125rem;
  }
  .l-main6__top__title {
    margin: 1.125rem 0 0.375rem 0;
  }
  .l-main6__top__title img {
    width: 3.125rem;
    margin: 0 1.5625rem;
  }
  .l-main6__top__title h2 {
    font-size: 2.6069rem;
    letter-spacing: 0;
  }
  .l-main6__slick {
    width: 100%;
    height: 14.375rem;
    margin-top: 2.5rem;
  }
  .l-main6__slick__items__block div:nth-child(1) {
    width: 19.375rem;
  }
  .l-main6__slick__items {
    display: flex;
  }
  .l-main6__slick__block__2 div:nth-child(1) {
    width: 5rem;
    text-align: center;
  }
  .l-main6__slick__right {
    width: 11.875rem;
    text-align: left;
    padding-left: 0.9375rem;
  }
}

/* ----------------------------
  フッター用
---------------------------- */
.l-footer__inner {
  width: 100%;
  height: 4rem;
  background-color: #fa7da3;
  margin-top: 0.9375rem;
  padding-top: 0.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:768px) {
  .l-footer__inner {
    height: 8rem;
    margin-top: 0.9375rem;
    padding-top: 0.1875rem;
  }
  .l-footer__inner img {
    width: 9rem;
  }
}